# ImgBB API Key for Image Uploads
VITE_IMGBB_API_KEY=61035b18442b2c9815d6945f6f7bccd2

# MySQL Database Configurations for CyberPanel
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=your_cyberpanel_db_user
MYSQL_PASSWORD=your_cyberpanel_db_password
MYSQL_DATABASE=your_cyberpanel_db_name

# Redis Configurations (Optional)
REDIS_URL=redis://localhost:6379

# JWT Secret Keys
JWT_SECRET=super_secret_key_123456789_super_secret_key
VITE_JWT_SECRET=super_secret_key_123456789_super_secret_key

# Node Server Port
PORT=3000
